<?xml version="1.0" ?>
<robot name="m2wr" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  
  <xacro:property name="camera_size" value="0.05" />
  <xacro:property name="camera_mass" value="0.01" />

  <!-- Camera -->

  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz=".27 0 0.1" rpy="0 0 0"/>
    <parent link="link_chassis"/>
    <child link="camera"/>
  </joint>

  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.03 0.03"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.03 0.03"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="${camera_mass}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia m="${camera_mass}" x="${camera_mass}" y="${camera_mass}" z="${camera_mass}"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  

  <joint name="camera_optical_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
  </joint>

  <link name="camera_link_optical"></link>

  <gazebo reference= "camera_link">
    <material>Gazebo/Red</material>
  </gazebo>

  
</robot>
